<h1>Angular Demo</h1>
<!-- <app-users-list></app-users-list> -->
<!-- <app-demo></app-demo>  -->
<!-- <app-users></app-users> -->

<!-- <nav class="navbar-nav mx-5">
  <a [routerLink]="['/user-login']">Login</a>
  <a [routerLink]="['/products']">Products</a>
  <a [routerLink]="['/book']">Book</a>
  <a [routerLink]="['/demo']">Demo</a>
</nav>

<nav class="my-4">
  <ul>
    <li><a routerLink="/products">Products without bracket</a></li>
  </ul>
</nav> -->

<router-outlet></router-outlet>

<!-- <app-book></app-book> -->


<!-- <app-products></app-products> -->

<br>
<br>


<!-- Nested Component demo  -->
<!-- <div class="container my-5">
  <h2>Course Details</h2>

  Select a course to view 
  <select #course (change)="name = course.value">
    <option value="Node JS">Node JS</option>
    <option value="Typescript">Typescript</option>
    <option value="Angular">Angular</option>
    <option value="React JS">React  JS</option>
  </select><br><br>

  <app-courses-list [cName]="name" (onRegister)="courseReg($event)"></app-courses-list>
  <div *ngIf="messageFromChild">{{messageFromChild}}</div>
</div> -->

<!-- observable demo -->

<!-- <div class="container my-5">
  <b> Using Observables!</b>
  <h6 style="margin-bottom: 0">Value: </h6>
  <div *ngFor="let value of myArr">{{value}}</div>
  <div style="margin-bottom: 0">Errors: {{errors}}</div>
  <div style="margin-bottom: 0">Finished: {{finished}}</div>
  <button style="margin-top: 2rem" (click)="fetchData()" >Fetch Data</button>
</div> -->